---
import RecordsItems from "@/components/records-items.astro";
import { getShopPage } from "@/lib/api";

// DATA ************************************************************************************************************************************
const { products } = await getShopPage({ pocketbase: Astro.locals.pocketbase, cache: import.meta.env.DEV ? "1d" : undefined });
---

<RecordsItems title="Boutique" items={products} border="all" intent="light">
  <p>Il n'y a actuellement aucun produit dans la boutique.</p>
</RecordsItems>
