---
import Layout, { layoutCache } from "@/layouts/main.astro";
import ProductsItems from "./_/products-items.astro";

// CACHE ***********************************************************************************************************************************
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");
Astro.response.headers.set("netlify-cdn-cache-control", "durable, s-maxage=31536000");
Astro.response.headers.set("netlify-cache-tag", [...layoutCache, "products"].join(","));
---

<Layout>
  <ProductsItems server:defer>
    <div class="animate-pulse rounded-md bg-muted"></div>
  </ProductsItems>
</Layout>
