---
import RecordsItems from "@/components/records-items.astro";
import { itemFromProduct, productFrom } from "@/content/utils";
import Layout, { layoutCache } from "@/layouts/main.astro";
import { getRecords } from "pocketbase:astro";

// DATA ************************************************************************************************************************************
const products = await getRecords("products", { map: (record) => productFrom(record).then(itemFromProduct) });

// CACHE ***********************************************************************************************************************************
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");
Astro.response.headers.set("netlify-cache-tag", `${layoutCache}, products`);
---

<Layout>
  <RecordsItems title="Boutique" items={products} border="all" intent="light">
    <p>Il n'y a actuellement aucun produit dans la boutique.</p>
  </RecordsItems>
</Layout>
